[Unit]
Description=Replication Service
After=network.target

[Service]
Environment=PYTHONBUFFERED=1
User=root
Type=simple
RemainAfterExit=yes
ExecStart=python3 /opt/schedule_test_every_two_min.py
TimeoutStartSec=0

[Install]
WantedBy=default.target
